/* body */
body{
    background-color: rgb(244, 146, 146);  
}

.container{
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin: 10px;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.row-top{
    display: flex;
    flex-direction: row;
}

.small-box{
    background-color: rgb(226, 195, 195);
    width: 400px;
    height: 400px;
    margin: 10px;
}

.row-bottom{
    display: flex;
    flex-direction: row;
}

.big-box{
    background-color: rgb(201, 177, 239);
    width: 600px;
    height: 600px;
    margin: 10px;
}